@font-face
  font-family FontLarisome
  src url('../fonts/font-larisome-webfont.eot')
  src url('../fonts/font-larisome-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/font-larisome-webfont.woff2') format('woff2'),
     url('../fonts/font-larisome-webfont.woff') format('woff'),
     url('../fonts/font-larisome-webfont.ttf') format('truetype'),
     url('../fonts/font-larisome-webfont.svg#_bpg_gelregular') format('svg');
  font-weight normal
  font-style normal
