.lari-
  &a, &normal
    content 'a'
  &b, &bold
    content 'b'
  &c, &bolder
    content 'c'
  &d, &narrow-sans
    content 'd'
  &e, &narrow-serif
    content 'e'
  &f, &thin-sans
    content 'f'
  &g, &thin-serif
    content 'g'
  &h, &serif
    content 'h'
  &i, &thick-sans
    content 'i'
  &j, &thick-sans-narrow
    content 'j'
  &k, &thin-narrow-sans
    content 'k'
  &l, &comic, &wtf
    content 'l'