.lari-
  &a, &normal
    &:before
      content 'a'
  &b, &bold
    &:before
      content 'b'
  &c, &bolder
    &:before
      content 'c'
  &d, &narrow-sans
    &:before
      content 'd'
  &e, &narrow-serif
    &:before
      content 'e'
  &f, &thin-sans
    &:before
      content 'f'
  &g, &thin-serif
    &:before
      content 'g'
  &h, &serif
    &:before
      content 'h'
  &i, &thick-sans
    &:before
      content 'i'
  &j, &thick-sans-narrow
    &:before
      content 'j'
  &k, &thin-narrow-sans
    &:before
      content 'k'
  &l, &comic, &wtf
    &:before
      content 'l'