.lari-

  &a, &normal
    &:before
      content 'a'

  &b, &bold
    &:before
      content 'b'

  &c, &bolder
    &:before
      content 'c'

  &d, &narrow-sans
    &:before
      content 'd'

  &e, &narrow-serif
    &:before
      content 'e'

  &f, &thin-sans
    &:before
      content 'f'

  &g, &thin-serif
    &:before
      content 'g'

  &h, &serif
    &:before
      content 'h'

  &i, &sans
    &:before
      content 'i'

  &j, &narrow-sans-bold
    &:before
      content 'j'

  &k, &narrow-sans-thin
    &:before
      content 'k'

  &l, &comic, &wtf
    &:before
      content 'l'

  &m, &square-round
    &:before
      content 'm'

  &n, &square-plain
    &:before
      content 'n'

  &o, &square-narrow-plain
    &:before
      content 'o'

  &p, &square-narrow
    &:before
      content 'p'
